<div class="offset-1 col-md-10 mt-4">
	<%= render 'quiz_detail', quiz: @quiz %>

	<div class="comments_<%= @quiz.id %> mb-4">
		<%= render 'comments', comments: @comments %>
	</div>

	<div id="comment-form-wrapper">
		<%= render 'comment_form', quiz: @quiz, comment: @comment %>
	</div>
</div>