<div class="offset-1 col-md-10 mt-4">
	<div class="search-results">
		<% if @users.blank? && @quizzes.blank? %>
			<h3>検索結果が存在しません</h3>
		<% else %>
			<% unless @users.blank? %>
				<div class="mb-5">
					<h3>ユーザー</h3>
					<% @users.each do |user| %>
						<%= render 'users/user', user: user %>
					<% end %>
				</div>
			<% end %>

			<% unless @quizzes.blank? %>
				<div>
					<h3>クイズ</h3>
					<% @quizzes.each do |quiz| %>
						<%= render 'quizzes/quiz', quiz: quiz %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>