/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body{
	background-color: #eeeeee;
}

a:link, a:visited, a:hover, a:active{
	color: #444444;
	text-decoration: none;
}

/*ヘッダー*/
header{
	background-color: orange;
	padding: 15px;
	display: flex;
	justify-content: flex-end;
}

#logo{
	color: #fff;
	margin-right: auto;
}

#logo span{
	color: #FF0000;
}

.header-nuv{
	list-style: none;
	display: flex;
}

.header-nuv a{
	color: #fff;
	padding: 0 15px;
	font-weight: bold;
}

.header-nuv li :hover{
	color: #ff0000;
}

/*サイドバー*/
#sideber{
	position: relative;
	background-color: #fff;
}

.sideber-nuv{
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

.sideber-nuv li{
	padding: 10px;
	border-bottom: solid 1px orange;
}

.sideber-nuv li :hover {
	color: orange;
}

.sideber-nuv h3{
	display: flex;
	color: #444444;
}

.current-user{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.user-link{
	display: flex;
	justify-content: center;
	align-items: center;
}

.category-show{
	cursor: pointer;
}

.category-item{
	display: none;
}

.fa-angle-up, .fa-angle-down{
	color: #999999;
	margin-left: auto;
}

#quiz-form-show{
	position: absolute;
	bottom: 30%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	cursor: pointer;
}

.about-link{
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

/*ユーザー詳細画面*/
.profile{
	background-color: white;
	position: relative;
	margin-bottom: 20px;
	padding: 30px 0 30px;
	border-radius: 5px 5px 0 0;
}

#tab-menu .active {
	background: #fff;
	color: #000;
}

.fa-cog {
	position: absolute;
	top: 12px;
	right: 12px;
	color: rgba(128, 128, 128, 0.46);
	cursor: pointer;
}

.user-edit{
	background-color: white;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
}

.user-box{
	background-color: white;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
}

/*クイズ投稿画面*/
.quiz-form-wrapper{
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.quiz-form{
	background-color: #e6ecf0;
	position: absolute;
	top: 15%;
	left: 25%;
	padding: 20px 0 40px;
	text-align: center;
	border-radius: 5px;
	width: 50%;
	height: 70%;
}

.fa-times {
	position: absolute;
	top: 12px;
	right: 12px;
	color: rgba(128, 128, 128, 0.46);
	cursor: pointer;
}

/*クイズ一覧、詳細画面*/
.quiz-box{
	background-color: white;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 5px;
}

.quiz-box h4{
	margin-top: 20px;
	font-weight: bold;
	border-bottom: 1px solid orange;
}

.quiz-user, .comment-user{
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
}

.quiz-user-link, .comment-user-link{
	margin-right: auto;
}

.quiz-category{
	background-color: orange;
	padding: 3px;
	border-radius: 3px
}

.favorite-comment{
	color: #888888;
	margin-top: 15px;
}

.answer-show, .explanation-show, .comment-form-show{
	cursor: pointer;
}

.answer, .explanation, .comment-form-wrapper{
	display: none;
}

.fa-star{
	color: #FFCC00;
}

.far.fa-comment-alt{
	color: #2C7CFF;
}

/*クイズへのコメント*/
.comment-form-wrapper{
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.comment-form{
	background-color: #e6ecf0;
	position: absolute;
	top: 25%;
	left: 30%;
	padding: 20px 0 40px;
	text-align: center;
	border-radius: 5px;
	width: 40%;
	height: 50%;
}

.cnt_danger{
    color: #FF0000;
}

.comment-box{
	background-color: white;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 5px;
}


/*通知一覧*/
.notification-wrapper{
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.notification-box{
	background-color: #e6ecf0;
	position: absolute;
	top: 25%;
	left: 30%;
	padding: 20px 0 40px;
	text-align: center;
	border-radius: 5px;
	width: 40%;
	height: 50%;
	overflow: scroll;
}
