// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*アバウトページ*/
.about-page{
	background-color: #fff;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 5px;
}

.about-page span{
	display: inline-block;
}

.site-name{
	color: orange;
	font-size: 100px;
	text-align: center;
	margin-bottom: 30px
}

.site-name span{
	color: red;
}

.contents ul{
	margin: 0 auto;
	width: 50%;
	padding: 20px;
	border-radius: 3px;
	border: 1px orange solid;
	list-style: none;
}

.contents a{
	color: orange;
	display: inline-block;
	padding: 3px 0;
}

.contents a:hover{
	font-weight: bold;
}


section{
	padding: 30px;
}

section h2{
	margin-bottom: 15px;
}

.section-text{
	font-size: 20px;
	width: 80%;
	margin: 5px auto 5px;
}

.section-number{
	margin-bottom: 20px;
}

.section-number span{
	color: #fff;
	background-color: orange;
	padding: 5px 10px;
	border-radius: 18px;
}

.quiz-fake, .profile-fake{
	border: 1px orange solid;
}

.fake{
	color: #fff;
	padding: 3px;
	border-radius: 3px
}

.about-sign-in{
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-sign-in .btn{
	width: 40%;
	margin: 5px 0;
}

.fake-form{
	padding: 20px 20px 0;
	border-radius: 3px;
	border: 1px orange solid;
	text-align: center;
}

.fake-form textarea{
	resize: none;
}

.fake-fav, .fake-follow{
	cursor: pointer;
}
