// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*クイズ投稿画面*/
#quiz-form-wrapper{
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}

#quiz-form{
	background-color: #fff;
	position: absolute;
	top: 10%;
	left: 25%;
	padding: 50px;
	text-align: center;
	border-radius: 5px;
	width: 50%;
	height: 80%;
	overflow: scroll;
}

#quiz-form textarea{
	height: 200px;
	resize: none;
}

.please-signin{
	background-color: #fff;
	position: absolute;
	top: 25%;
	left: 30%;
	border-radius: 5px;
	width: 40%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.please-signin .btn{
	width: 50%;
	margin: 10px;
}

.please-signin span{
	display: inline-block;
}

.fa-times {
	position: absolute;
	top: 12px;
	right: 12px;
	color: orange;
	cursor: pointer;
}

#quiz-edit-form{
	width: 80%;
	margin: 0 auto;
	background-color: white;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
}

#quiz-edit-form label{
	font-weight: bold;
}

#quiz-edit-form textarea{
	height: 200px;
	resize: none;
}


/*クイズ一覧、詳細画面*/
.quiz-box{
	background-color: white;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 5px;
}

.quiz-box h4{
	margin-top: 20px;
	font-weight: bold;
	border-bottom: 1px solid orange;
}

.quiz-box p{
	font-size: 20px;
}

.quiz-user, .comment-user{
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
}

.quiz-user-link, .comment-user-link{
	margin-right: auto;
}

.category a{
	background-color: orange;
	color: #fff;
	padding: 3px;
	border-radius: 3px
}

.tags{
	margin: 10px 0;
}

.tags a{
	background-color: #33CC00;
	color: #fff;
	margin-bottom: 3px;
	padding: 0 2px;
	border-radius: 3px;
	display: inline-block;
}

.comment-form-show{
	margin-left: 5px;
}

.answer-show, .explanation-show, .comment-form-show{
	cursor: pointer;
}

.answer, .explanation, .comment-form-wrapper{
	display: none;
}

.quiz-under{
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


.favorite-comment{
	font-size: 20px;
	color: #888888;
	margin-right: auto;
	display: flex;
	align-items: center;
}

.fa-star{
	color: #FFCC00;
}

.far.fa-comment-alt{
	color: #2C7CFF;
}

.link-copy{
	display: flex;
	align-items: center;
}

.link-copy p{
	margin-bottom: 0;
}

.link-copy span{
	display: inline-block;
}

.copy-btn{
	color: orange;
	background-color: #fff;
	border: transparent;
	cursor: pointer;
}
