<header>
	<h1 id="logo"><span>Q</span>.flat</h1>
	<h1 class="menu-triger"><i class="fas fa-bars"></i></h1>
	<% unless user_signed_in? %>
		<ul class="header-nuv">
			<li>
				<h4><%= link_to '新規登録', new_user_registration_path %></h4>
			</li>
			<li>
				<h4><%= link_to 'ログイン', new_user_session_path %></h4>
			</li>
		</ul>
	<% end %>
</header>